__pycache__/
*.pyc
.venv/
env/
.vscode/
.idea/
build/
dist/
# 大文件与数据
data/
*.tif
*.tiff
*.zip
*.rar
*.7z
*.pt
*.h5
*.weights
*.ckpt
*.log

*.npz

*.tif

*.zip

*.rar

*.pt

*.h5

*.ckpt

*.log

data/

*.exe
